.HA_VERSION
.storage/
.uuid

entity_registry.yaml
harmony_hub_conf.yaml
home-assistant.log
home-assistant_v2.db
*.sqlite

OZW_Log.txt
zwscene.xml
zwcfg*.xml
options.xml

secrets.yaml

www/
ssl/
tts/

